<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Register Page</title>
    </head>
    <body>
        <center>
            <h1>Register Page</h1>
            <br />
            <form action="/register" method="post">
                <label for="username"> Username </label>
                <br />
                <input
                    id="username"
                    name="username"
                    type="username"
                    placeholder="Input your username"
                />
                <br />
                <br />
                <label for="password">Password</label>
                <br />
                <input
                    id="password"
                    name="password"
                    type="password"
                    placeholder="Input password"
                />
                <br />
                <br />
                <button type="submit">Register</button>
            </form>
            <br />
            <a href="/login">Login</a>
        </center>
    </body>
</html>
